
VITE_APP_BACKEND_URL=http://localhost:4000/api/v1
VITE_APP_SERVER_URL=http://localhost:4000
VITE_APP_NGN_FLAG=https://upload.wikimedia.org/wikipedia/commons/7/79/Flag_of_Nigeria.svg
# REACT_APP_BACKEND_URL=https://talent527-backend.onrender.com/api/v1